BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 130
SortIncludes: Never
IncludeBlocks: Regroup
# SeparateDefinitionBlocks: Always

# indentation
MaxEmptyLinesToKeep: 2
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: All
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false

# Functions, constructors, template parameters
PackConstructorInitializers: Never
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 0
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 0
AlwaysBreakTemplateDeclarations: Yes
QualifierAlignment: Custom
QualifierOrder: [inline, static, constexpr, friend, type]
RequiresClausePosition: OwnLine

# single line
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

# Classes, enums
EmptyLineBeforeAccessModifier: Always
# EnumTrailingComma: Insert

# Aligns
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
# AlignEscapedNewlines: LeftWithLastLine
AlignArrayOfStructures: Left
AlignTrailingComments: Always
AlignOperands: true

# Breaks
BreakAfterAttributes: Always
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeCloseBracketBracedList: true # v22
BreakBeforeCloseBracketFunction: true # v22
BreakBeforeCloseBracketIf: true # v22
BreakBeforeCloseBracketSwitch: true # v22
BreakBeforeConceptDeclarations: true
BreakBeforeTemplateCloser: true # v21
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
